.manage-div {
    width: 100%;
    float: left;
    margin: auto;
}

.table-manage {
    width: 100%;
    margin: auto;
}

.body {
    width: 100%;
}

.editProduct {
    width: 20px;
}

.editProduct:hover {
    cursor: pointer;
}